In [78]:
import pandas as pd
import numpy as np
import ast

In [79]:
movies = pd.read_csv(r"C:\Users\hanse\OneDrive\Desktop\ML Projects\Movie Recommendation system\archive\tmdb_5000_movies.csv")
credit = pd.read_csv(r'C:\Users\hanse\OneDrive\Desktop\ML Projects\Movie Recommendation system\archive\tmdb_5000_credits.csv')

# Merge both dataframes

In [80]:
movies = movies.merge(credit, on='title')

In [81]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

### Clean Data (Remove unwanted data ) ###

Data to keep:
* genres
* id
* keywords
* cast 
* crew

Note : Since we are using Text Vectorisation technique i.e "BAG OF WORDS", we ignore the numerical data:

In [82]:
movies = movies[['movie_id','genres','overview','title','cast','crew','keywords']]

In [83]:
movies.head()

,movie_id,genres,overview,title,cast,crew,keywords
0,19995,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","In the 22nd century, a paraplegic Marine is di...",Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":..."
1,285,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","Captain Barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na..."
2,206647,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",A cryptic message from Bond’s past sends him o...,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name..."
3,49026,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",Following the death of District Attorney Harve...,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,..."
4,49529,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","John Carter is a war-weary, former military ca...",John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":..."

Check for missing data

In [84]:
movies.isnull().sum()

movie_id    0
genres      0
overview    3
title       0
cast        0
crew        0
keywords    0
dtype: int64

3 rows in overview are empty

In [85]:
# drop Empty rows
movies.dropna(inplace=True)

In [86]:
movies.isnull().sum()

movie_id    0
genres      0
overview    0
title       0
cast        0
crew        0
keywords    0
dtype: int64

## Data Preprocesssing

In [87]:
movies.genres.iloc[0]

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

genres coloumn contains in unusable form, Hence we preprocess to look this way:**'["Action","Adventure", "Fantasy","Science Fiction"]'**

In [88]:
def convert3(obj):
       L =[]
       counter = 0
       for i in ast.literal_eval(obj):
              if counter != 3:
                     L.append(i['name'])
                     counter += 1
              else:
                     break
       return L
       
def convert(obj):
       L =[]
       for i in ast.literal_eval(obj):
                     L.append(i['name'])
       return L
       
def fetch_director(obj):
       L =[]
       for i in ast.literal_eval(obj):
              if i['job'] == 'Director':
                     L.append(i['name'])
       return L

In [89]:
# convert('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')
movies.genres = movies.genres.apply(convert)
movies.keywords = movies.keywords.apply(convert)

In [90]:
movies.cast = movies['cast'].apply(convert3)
movies.crew = movies.crew.apply(fetch_director)

In [91]:
# split Overview into list of strings 
movies.overview = movies.overview.apply(lambda x : x.split())

In [92]:
# Remove Spaces between words to

movies.genres = movies.genres.apply(lambda x:[i.replace(" ","") for i in x])
movies.keywords = movies.keywords.apply(lambda x:[i.replace(" ","") for i in x])
movies.overview = movies.overview.apply(lambda x:[i.replace(" ","") for i in x])
movies.cast = movies.cast.apply(lambda x:[i.replace(" ","") for i in x])
movies.crew = movies.crew.apply(lambda x:[i.replace(" ","") for i in x])

In [93]:
# Concatinate all the column values to for a new column called tag
movies['tags'] = movies['genres'] + movies['overview'] + movies['cast'] + movies['crew'] + movies['keywords']

In [94]:
# create a new dataframe
new_df = movies[['movie_id','title','tags']]

In [95]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction, I..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action, Captain, Barbossa..."
2,206647,Spectre,"[Action, Adventure, Crime, A, cryptic, message..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller, Following, th..."
4,49529,John Carter,"[Action, Adventure, ScienceFiction, John, Cart..."

In [96]:
# join the tags column values
new_df.tags = movies.tags.apply(lambda x:" ".join(x))

C:\Users\hanse\AppData\Local\Temp\ipykernel_8848\2282722024.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.tags = movies.tags.apply(lambda x:" ".join(x))

In [97]:

new_df.tags = new_df.tags.apply(lambda x: x.lower())

C:\Users\hanse\AppData\Local\Temp\ipykernel_8848\1675688963.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.tags = new_df.tags.apply(lambda x: x.lower())

In [98]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,action adventure fantasy sciencefiction in the...
1,285,Pirates of the Caribbean: At World's End,"adventure fantasy action captain barbossa, lon..."
2,206647,Spectre,action adventure crime a cryptic message from ...
3,49026,The Dark Knight Rises,action crime drama thriller following the deat...
4,49529,John Carter,action adventure sciencefiction john carter is...

In [99]:
# merge words like corporate, corporation,corporating
# action,actions,acting etc

# stemming

To solve the above issue we need to do stemming, using the **nltk library**

In [100]:
from nltk.stem import PorterStemmer 
ps = PorterStemmer()

In [101]:
def stem(text):
       y = []
       for i in text.split():
             y.append(ps.stem(i))
       return " ".join(y)

In [102]:
new_df.tags = new_df.tags.apply(stem)

C:\Users\hanse\AppData\Local\Temp\ipykernel_8848\2996271916.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.tags = new_df.tags.apply(stem)

In [103]:
new_df.tags[0]

'action adventur fantasi sciencefict in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. samworthington zoesaldana sigourneyweav jamescameron cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d'

# TEXT VECTORIZATION

In [104]:
# import sklearn
from sklearn.feature_extraction.text import CountVectorizer
cv  = CountVectorizer(max_features=5000,stop_words='english')

In [105]:
vectors =  cv.fit_transform(new_df['tags']).toarray()
cv.get_feature_names()
vectors[0][:50]

e:\Applications\anaconda3\envs\projectml\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0], dtype=int64)

<h1>After Vectorizing We have to find the similarity between these vectors using **COSINE SIMILARITY**</h1>

In [106]:
from sklearn.metrics.pairwise import cosine_similarity
cs = cosine_similarity(vectors)#if 1 high similarity,if 0 low simalrity

In [107]:
cs[0][:50]
type(cs[0])

numpy.ndarray

<h1>

In [108]:
import pickle

pickle.dump(new_df.to_dict(),open('movies_dict.pkl','wb')) # send file as dict

In [109]:
def recommend(movie):
       ind = new_df[new_df['title'] == movie].index[0] # get index of movie 
       distances = cs[ind] # calculate vector distance between them
       movies_list = sorted(enumerate(distances),reverse=True,key=lambda x:x[1])[1:6] # get a sorted list starting from movies with less distances and recommend first five
       
       for i in movies_list:
             print(new_df.iloc[i[0]].title)
recommend("10th & Wolf")

Torque
West Side Story
Exiled
The Outsiders
The Lone Ranger

In [110]:


pickle.dump(cs,open('similarity.pkl','wb'))

cs(vectors)

In [111]:
new_df.title.values

array(['Avatar', "Pirates of the Caribbean: At World's End", 'Spectre',
       ..., 'Signed, Sealed, Delivered', 'Shanghai Calling',
       'My Date with Drew'], dtype=object)

In [114]:
new_df.head().to_dict()

{'movie_id': {0: 19995, 1: 285, 2: 206647, 3: 49026, 4: 49529},
 'title': {0: 'Avatar',
  1: "Pirates of the Caribbean: At World's End",
  2: 'Spectre',
  3: 'The Dark Knight Rises',
  4: 'John Carter'},
 'tags': {0: 'action adventur fantasi sciencefict in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. samworthington zoesaldana sigourneyweav jamescameron cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d',
  1: "adventur fantasi action captain barbossa, long believ to be dead, ha come back to life and is head to the edg of the earth with will turner and elizabeth swann. but noth is quit as it seems. johnnydepp orlandobloom keiraknightley goreverbinski ocean drugabus exoticisland eastindiatradingcompani loveofone'slif traitor shipwreck strongwoman ship allianc calypso afterlif fighter pirat swashbuckl aftercreditssting",
  2: 'action adventur crime a cryptic messag from bond’ past send him on a trail to uncov a sinist organization. while m battl polit forc to keep the secret servic alive, bond peel back the layer of deceit to reveal the terribl truth behind spectre. danielcraig christophwaltz léaseydoux sammend spi basedonnovel secretag sequel mi6 britishsecretservic unitedkingdom',
  3: "action crime drama thriller follow the death of district attorney harvey dent, batman assum respons for dent' crime to protect the late attorney' reput and is subsequ hunt by the gotham citi polic department. eight year later, batman encount the mysteri selina kyle and the villain bane, a new terrorist leader who overwhelm gotham' finest. the dark knight resurfac to protect a citi that ha brand him an enemy. christianbal michaelcain garyoldman christophernolan dccomic crimefight terrorist secretident burglar hostagedrama timebomb gothamc vigilant cover-up superhero villai tragichero terror destruct catwoman catburglar imax flood criminalunderworld batman",
  4: "action adventur sciencefict john carter is a war-weary, former militari captain who' inexplic transport to the mysteri and exot planet of barsoom (mars) and reluctantli becom embroil in an epic conflict. it' a world on the brink of collapse, and carter rediscov hi human when he realiz the surviv of barsoom and it peopl rest in hi hands. taylorkitsch lynncollin samanthamorton andrewstanton basedonnovel mar medallion spacetravel princess alien steampunk martian escap edgarriceburrough alienrac superhumanstrength marscivil swordandplanet 19thcenturi 3d"}}